.mod-list {
  list-style: none;
  padding: 0;
  margin: 0;
  >li {
    margin: 0 0 3px;
    >a {
      border: 1px solid darken($border-color, 2%);
      padding: 10px 15px;
      display: block;
      color: $colorBlack;
      &:hover {
        color: $colorMain;
      }
    }
  }
}
.author-info {
  p {
    margin-bottom: 0;
  }
}
.author-body {
  align-items: center;
}
.jcontent {
  .articleBody {
    .pull-left {
      margin: .5em 1.5em .5em 0;
    }
    .pull-right {
      margin: .5em 0 1em 1.5em;
    }
  }
}
a.jollyany-login-icon {
  color: inherit;
}
.top-bar {
  div.mod-languages a {
    color: inherit;
    &.active {
      color: #fff;
      text-decoration: none;
      background-color: #2c2e36;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
.jollyany-login {
  label {
    color: $dark;
  }
}
.blog, .item-page {
  .card-body {
    padding: 1.8rem;
  }
}
.blog {
  article.item {
    .post {
      &.review, &.quote {
        .card {
          border: none;
          margin-left: 0;
          margin-right: 0;
        }
      }
      > div {
        margin-bottom: 0 !important;
      }
    }
  }
}
blockquote {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  color: #000000;
  position: relative;
  border-left: none;
  padding: 20px 68px 35px;
  p {
    &:last-child {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 10px 0 25px 40px;
    font-size: 1.1em;
  }
  &:before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    color: $colorMain;
    position: absolute;
    top: 15px;
    left: 1px;
    font-size: 1.3em;
    @media screen and (max-width: 768px) {
      top: 10px;
    }
  }
}